node_modules
dist/*
!dist/index.html
!dist/assets/
dist/assets/*
!dist/assets/index-BHCulRCa.js
!dist/assets/index-Lt8hbbnV.css
.env
.env.*
.DS_Store
public/recipe-images/quota.sqlite*
public/recipe-images/*.png
public/recipe-images/*.tmp
