node_modules
dist/*
!dist/index.html
!dist/assets/
dist/assets/*
!dist/assets/index-DiqLBIeZ.js
!dist/assets/index-Czvq28Sb.css
.env
.env.*
.DS_Store
public/recipe-images/quota.sqlite*
public/recipe-images/*.png
public/recipe-images/*.tmp
